* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, .playlist a {
  text-decoration: none;
  color: gray;
}

a :hover {
  color: white;
}
 ul li {
   list-style: none;
 }

ul li :hover {
  color:white;
}

/* Qui iniziano le regole della macro-struttura */

body {
  font-family: 'Montserrat', 'sans-serif';
  color: white;
}

#macro {
  display:flex;
}

section {
  height: calc(100vh - 100px);
  background-color: #141922;
  width: 100%;
  z-index: 0;
}

footer {
  background-color: #282828;
  height: 100px;
  width: 100%;
}

#lato {
  background: black;
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Qui iniziano le regole della barra laterale */
#logo {
  width: 150px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo-piccolo {
  width: 30px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar img {
  width: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#navbar {
  display: flex;

}

#navbar li a{
  display: flex;
  align-items: center;
  padding-bottom: 15px;

}
#navbar h6 {
  padding-left: 15px;
  font-size: 12px;
}

/* Qui inizia la parte con la playlist */


.playlist h4 {
  padding-bottom: 20px;
}
#più :hover{
  background-color: white;
}
.playlist :hover {
  color: white;
}
#plus {
  padding: 5px 10px;
  font-size: 20px;
  background-color: gray;
  color: black;
  margin-right: 10px;
  margin-bottom: 30px;
}


.playlist ul li {
  padding-top: 10px;
  font-size: 12px;
}

.playlist {
  margin-left: 10px;
}

.app {
  margin-top: 50px;
  font-size: 13px;
}

.account {
  padding-top: 20px;
  width: 90%;
  border-top: solid 2px gray;

}
.account h6 {
  padding-left: 10px;
}
.account img {
  max-height: 30px;
  width: auto;
  border-radius: 100%;
  background-color: gray;
}
 .row {
   display: flex;
   flex-direction: row;
   margin-left: 10px;
   align-items: center;
   padding-bottom: 10px;
}
 .fas {
  padding-right: 10px;
}
@media screen and (max-width:768px){
  #navbar h6, .playlist, .app p, .account h6, #logo{
    display: none;
  }

  #lato {
    width: 80px;
  }

  #navbar img {
    width: 30px;
    height: auto;
  }

  #logo-piccolo{
    width: 30px;
    height: auto;
    margin-left: 10px;
  }

  .row {
    align-items: center;
    margin-left: 10px;
  }

  .account {
    border: none;
  }

  .app {
    margin-top: 80px;
  }

}

@media screen and (min-width:769px) {
  #logo-piccolo {
    display:none;
  }
}

/* Qui inizia la section principale */

#corpo {
  padding-top: 110px;
  overflow-y: scroll;
}
.upgrade {position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 90px;
  width: calc(100% - 150px);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: flex-end;
  width: calc(100%-200px);
}

.upgrade h2 {
  padding: 10px 20px;
  border: solid 2px;
  border-radius: 50px;
  margin: 20px;
  font-size: 12px;
  width: 200px;
}
@media screen and (max-width:1200px) {
  .barra li a {
    font-size: 20px;
  }
}
/* Qui inizia la parte con le cards */

.barra li {
  padding-top: 10px;
  font-size: 13px;
  padding-right: 10px;
}

.barra {
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

h2 {
  padding: 30px;
  margin: 0;
}

.cards {
 display: flex;
 align-items: flex-start;
 flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 30px;
  flex-basis: calc(100% / 6);
  position: relative;
  text-align: center;
}

.card img {
  height: 150px;
}

@media screen and (max-width:768px) {
  .card img {
    margin-right: 30px;
  }
  .upgrade {
    width: calc(100% - 70px);
  }
}

.over {
  font-size: 50px;
  position: absolute;
  top: 0px;
  padding: 50px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.card:hover .over {
  display: block;
  cursor: pointer;
}

.over :hover {
  display: block;
}

.titolo {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sottotitolo {
  padding-bottom: 30px;
}

.sub {
  color: gray;
  padding-left: 20px;
  padding-bottom: 30px;
}

.radius {
  border-radius: 100%;
}

.cerchio {
  font-size: 50px;
  position: absolute;
  top: 0px;
  padding: 46px 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: none;

}

.card:hover .cerchio {
  display:block;
  cursor:pointer;
}

/* Qui iniziano le regole del footer */

#finale {
  display: flex;
  justify-content: space-between;
}

.player {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
}

.player2 {
  width: 40%;
  height: 100%;
}

.player img {
  height: 50px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  flex-shrink: 100;
}

.player ul {
  margin-right: 50px;
}

@media screen and (max-width: 970px){
  .player ul {
    margin-right: 5px;
  }
}

#sinister {
  color:white;
  font-weight: bold;
  font-size: 16px;
}


#brano {
  font-size: 12px;
}

.player a {
  padding-right: 10px;
}

.player2 {
  display: flex;
  flex-direction: column;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 5px;
  padding-bottom: 10px;
}

.icone li a{
  padding-right: 10px;
  color: white;
  font-size: 16px;
}

@media screen and (max-width:768px) {
  .icone li  {
    font-size: 12px;
    padding-right: 3px;
  }
}

#grande {
  font-size: 25px;
  padding-right: 20px;
}

.barretta {
  border-radius: 5px;
  background-color: gray;
  align-self: center;
  flex-shrink: 100;
  margin: 0 10px;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 300px;
}

.layover {
  background-color: #F5F5F5;
  height: 4px;
  width: 80px;
  position: absolute;
  left: 0;
  top:0;
}

.layover:hover{
  background: green;
  cursor: pointer;
}

.cerchietto {
  padding: 6px;
  background: white;
  border-radius: 100%;
  position: absolute;
  left: 80px;
  top: -3px;
  display: none;
}

.barretta:hover .cerchietto {
  display: block;
}

.volume {
  width: 150px;
  padding: 2px 70px;
}

@media screen and (max-width:768px) {
  .player ul li i {
    font-size: 10px;
  }

  .volume {
    width: 50%;
  }
}
